* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  cursor: pointer;
}
.logout {
  position: relative;
  float: right;
  margin-bottom: 10px;
  width: 85px;
  background-color: black;
  color: white;
  font-size: 17px;
  border: 0px;
  border-radius: 6px;
  padding: 2px 5px;
}
.logSign {
  width: 500px;
  min-width: 280px;
  border: 1px solid lightgray;
  padding: 50px;
  border-radius: 10px;
}
.login {
  width: 180px;
  margin-left: 5px;
}
.signup {
  width: 180px;
  margin-left: 25px;
}
.logSign h1{
    text-align: center;
}
.logSign label{
    font-size: 20px;
    margin-bottom: -10px!important;
}
@media (max-width:550px) {
    .buttonContainer{
        display: flex;
        flex-direction: column;
    }
    .logSign{
        width: 100%;
        padding: 10px;
    }
    .login{
        width: 80%;
        margin: auto;
    }
    .signup{
        width: 80%;
        margin: auto;
    }
}